$base-color-one:#002960;	/*McKinsey BLue*/
$base-color-two:#2c3e50; 	/*Madison Grey*/
$base-color-three:#0065BD;	/*Global Blue*/
$base-color-four:#00ADEF;	/*Cyan*/
$base-color-five:#006983;	/*Teal*/
$base-color-six:#009AA6;	/*Turquoise*/
$base-color-seven:#7D9AAA;	/*Blue Gray*/
$base-color-eight:#67317E;	/*Purple*/
$base-color-nine:#EA7A30;	/*Crusta Orange*/
$base-color-ten:#D24D57; 	/*Chestnut Rose Red*/

@import "gsd";

html{
  width: 100%;
  height: 100%;
  background: white;
}

header{
  background-color: #ABC2FA;
}
